/* Add a reset CSS to remove default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  /* width: 100%; */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Center content and ensure proper spacing */
.container {
  /* width: 100%; */
  padding: 0 1rem;
  margin: 0 auto;
}
